<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= siteName %> | <%= pageTitle %></title>
		<meta name="author" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="favicon.png" type="image/png" />
		<link rel="stylesheet" type="text/css" href="/styles/styles.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/styles/fonts.css" rel="stylesheet" />
	</head>

	<body>
		<%- include('./partials/header') %> <%- include(`../pages/${template}`) %> <%- include('./partials/footer') %>
		<script src="/scripts/utils/moment.min.js"></script>
		<script src="/scripts/controller/index-controller.js" type="module"></script>
		<script src="/scripts/controller/theme-controller.js" type="module"></script>
	</body>
</html>
